.read2me-widget-player {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;

    margin: 30px 5px 10px 5px;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    position: relative;
    width: 570px;
    height: 101px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2), 0 3px 10px 0 rgba(0, 0, 0, .19);
}

.read2me-widget-wrapper.read2me-template {
    display:none;
}
.read2me-widget-wrapper.hidden,
.read2me-widget-wrapper .hidden {
    display:none;
}
.read2me-widget-wrapper {
    height: 141px;
}

/**
    Tooltip code by Bootstrap: https://github.com/twbs/bootstrap/blob/v3.3.7/dist/css/bootstrap.css#L5989
**/
.read2me-widget-player .tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    white-space: normal;
    filter: alpha(opacity=0);
    opacity: 0;
    line-break: auto;
}
.read2me-widget-player .tooltip.in {
    filter: alpha(opacity=100);
    opacity: 1;
}
.read2me-widget-player .tooltip.bottom {
    padding: 5px 0;
    margin-top: 3px;
}
.read2me-widget-player .tooltip-inner {
    max-width: 200px;
    text-align: center;
    background-color: #000;
    border-radius: 4px;
    position: relative;
    top: -10px;

    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    padding: 1px 5px;
    font-size: 11px;
}
.read2me-widget-player .tooltip-arrow {
    display: none;
}

.read2me-widget-player-thumbnail {
    position: absolute;
    top: -20px;
    left: 21px;
    width: 101px;
    height: 101px;
}
.read2me-widget-player-title {
    position: absolute;
    top: 25px;
    left: 142px;
    width: 183px;
    width: calc(100% - 142px - 165px - 84px);
    font-size: 15px;
    white-space:nowrap;
    overflow-x: hidden;
    margin-right: 5px;
    z-index: 2;
    font-weight: 600;
}
.read2me-widget-player-title:hover span.read2me-marquee {
    position: relative;
    animation: marquee 5s linear infinite;
}
/* Marquee code inspired by https://codepen.io/jamesbarnett/pen/kfmKa */
@keyframes marquee {
    0% { left: 0; }
    100% { left: -100%; }
}
/** Rewind and Forward icons */
.read2me-widget-player-quick-controls {
    position: absolute;
    top: 25px;
    right: 165px;
    z-index: 2;
}
.read2me-widget-player-quick-controls svg.read2me-widget-rewind,
.read2me-widget-player-quick-controls svg.read2me-widget-forward {
    position: relative;
    top: 2px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}
.read2me-widget-player-quick-controls svg.read2me-widget-rewind {
    margin-left: 30px;
}
.read2me-widget-player-quick-controls svg.read2me-widget-forward {
    margin-left: 22px;
}
/* Sliders */
.read2me-widget-player-sliders-container {
    position: absolute;
    top: 57px;
    z-index: 1;
}
.read2me-widget-player-sliders-container .slider-track {
    height: 2px !important;
}
.read2me-widget-player-sliders-container .slider-handle {
    width: 11px !important;
    height: 11px !important;
    cursor: pointer;
    background: black !important;
}
/**
 Scrubber container
 */
.read2me-widget-player-scrubber-container {
    /* old browsers will use the first property, newer the second */
    width: 49.12%;
    width: calc(100% - 288px);
}
.read2me-widget-player-scrubber-container div:first-of-type {
    width: 100%;
    left: 142px;
}
/**
Speaking rate container
 */
.read2me-widget-player-speaking-rate-container div:first-of-type {
    width: 72px;
}
/**
The round play/pause/replay container.
 */
.read2me-widget-player-playback {
    border-radius: 50%;
    width: 52px;
    height: 52px;
    position: absolute;
    right: 20px;
    top: -26px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .2), 0 2px 10px 0 rgba(0, 0, 0, .19);
    cursor: pointer;
    background-color: white;
}
.read2me-widget-player-playback svg {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto auto auto auto;
}
.read2me-widget-player-playback.read2me-playback-buffering {
    opacity: 0.5;
    cursor: wait;
}
svg.read2me-widget-player-playback-play {
    left: 3px;
}
svg.read2me-widget-player-playback-play,
svg.read2me-widget-player-playback-replay {
    width: 22px;
    height: 22px;
}
svg.read2me-widget-player-playback-pause {
    left: 1px;
    width: 16px;
    height: 16px;
}
svg.read2me-widget-player-playback-replay {
    left: 0;
}
.read2me-widget-player-speaking-rate-container {
    position: absolute;
    top: 52px;
    right: 21px;
}
svg.read2me-widget-speaking-rate {
    width: 20px;
}

/** White preset **/
.read2me-widget-player.preset-white,
.read2me-widget-player.preset-white .read2me-dropdown {
    background-color: rgb(255, 255, 255);
    color: #212529;
}

.read2me-widget-player.preset-white svg.read2me-widget-rewind,
.read2me-widget-player.preset-white svg.read2me-widget-forward,
.read2me-widget-player.preset-white svg.read2me-widget-speaking-rate {
    fill: #212529;
}

.read2me-widget-player.preset-white svg.read2me-widget-rewind:hover,
.read2me-widget-player.preset-white svg.read2me-widget-forward:hover {
    fill: #212529;
}

.read2me-widget-player.preset-white .slider-track {
    background: transparent !important;
}
.read2me-widget-player.preset-white .slider-selection {
    background: transparent !important;
}
.read2me-widget-player.preset-white .slider-track-high {
    background: transparent !important;
}
.read2me-widget-player.preset-white .slider-handle {
    background: #212529 !important;
}

.read2me-widget-player.preset-white .read2me-widget-player-playback {
    background-color: rgb(255, 255, 255);
}
.read2me-widget-player.preset-white .read2me-widget-player-playback svg {
    fill: #212529;
}
.read2me-widget-player.preset-white .read2me-widget-player-playback:hover {
    fill: #212529;
}
.read2me-widget-player.preset-white .read2me-widget-player-playback:hover svg {
    fill: #212529;
}
.read2me-widget-player.preset-white .read2me-menu > svg {
    color: #212529;
}
.read2me-widget-player.preset-white .read2me-widget-loader {
    height: 4px;
}
.read2me-widget-player.preset-white .read2me-dropdown a {
    color:rgb(33,37,41);
}
.read2me-widget-player.preset-white .read2me-dropdown a:hover {
    color:rgba(33,37,41,0.6);
}
.read2me-widget-player.preset-white .read2me-dropdown svg
{
    fill: rgb(33,37,41);
}
.read2me-widget-player.preset-white .read2me-dropdown li:hover svg
{
    fill: rgba(33,37,41,0.6);
}

/** Blue preset **/
.read2me-widget-player.preset-blue,
.read2me-widget-player.preset-blue .read2me-dropdown {
    background-color: rgb(14, 209, 254);
    color: rgb(244, 244, 244);
}

.read2me-widget-player.preset-blue svg.read2me-widget-rewind,
.read2me-widget-player.preset-blue svg.read2me-widget-forward,
.read2me-widget-player.preset-blue svg.read2me-widget-speaking-rate {
    fill: #3E8FAD;
}

.read2me-widget-player.preset-blue svg.read2me-widget-rewind:hover,
.read2me-widget-player.preset-blue svg.read2me-widget-forward:hover {
    fill: #F4F4F4;
}

.read2me-widget-player.preset-blue .slider-track {
    background: transparent !important;
}
.read2me-widget-player.preset-blue .slider-selection {
    background: rgba(255, 255, 255, 1) !important;
}
.read2me-widget-player.preset-blue .slider-track-high {
    background: rgba(255, 255, 255, 0.4) !important;
}
.read2me-widget-player.preset-blue .slider-handle {
    background: white !important;
}

.read2me-widget-player.preset-blue .read2me-widget-player-playback {
    background-color: white;
}
.read2me-widget-player.preset-blue .read2me-widget-player-playback svg {
    fill: #0ED1FE;
}
.read2me-widget-player.preset-blue .read2me-widget-player-playback:hover {
    background-color: #0ED1FE;
}
.read2me-widget-player.preset-blue .read2me-widget-player-playback:hover svg {
    fill: white;
}
.read2me-widget-player.preset-blue .read2me-menu > svg {
    color: white;
}
.read2me-widget-player.preset-blue .tooltip-inner {
    color: #3E8FAD;
}
.read2me-widget-player.preset-blue .read2me-dropdown a {
    color: #fff;
}
.read2me-widget-player.preset-blue .read2me-dropdown a:hover {
    background-color: #fff;
    color: #0ED1FE;
}
.read2me-widget-player.preset-blue .read2me-widget-loader:before {
    background-color: #3e8fad;
}
.read2me-widget-player.preset-blue .read2me-dropdown svg {
    fill: #fff;
}
.read2me-widget-player.preset-blue .read2me-dropdown li:hover svg {
    fill: #0ED1FE;
}


/** Gray preset **/
.read2me-widget-player.preset-gray,
.read2me-widget-player.preset-gray .read2me-dropdown {
    background-color: rgb(248, 248, 248);
    color: #3A3C3C;
}

.read2me-widget-player.preset-gray svg.read2me-widget-rewind,
.read2me-widget-player.preset-gray svg.read2me-widget-forward,
.read2me-widget-player.preset-gray svg.read2me-widget-speaking-rate {
    fill: #3A3C3C;
}

.read2me-widget-player.preset-gray svg.read2me-widget-rewind:hover,
.read2me-widget-player.preset-gray svg.read2me-widget-forward:hover {
    fill: #8FE3F7;
}

.read2me-widget-player.preset-gray .slider-track {
    background: transparent !important;
}
.read2me-widget-player.preset-gray .slider-selection {
    background: #0ED1FE !important;
}
.read2me-widget-player.preset-gray .slider-track-high {
    background: #DADBDB !important;
}
.read2me-widget-player.preset-gray .slider-handle {
    background: #0ED1FE !important;
}

.read2me-widget-player.preset-gray .read2me-widget-player-playback {
    background-color: #0ED1FE;
}
.read2me-widget-player.preset-gray .read2me-widget-player-playback svg {
    fill: white;
}
.read2me-widget-player.preset-gray .read2me-widget-player-playback:hover {
    background-color: white;
}
.read2me-widget-player.preset-gray .read2me-widget-player-playback:hover svg {
    fill: #0ED1FE;
}
.read2me-widget-player.preset-gray .read2me-menu > svg {
    color: black;
}
.read2me-widget-player.preset-gray .read2me-widget-loader {
    height: 2px;
}
.read2me-widget-player.preset-gray .read2me-dropdown a {
    color: #3A3C3C;
}
.read2me-widget-player.preset-gray .read2me-dropdown a:hover {
    background-color: #fff;
}
.read2me-widget-player.preset-gray .read2me-dropdown svg
{
    fill: #3A3C3C;
}

/** Green preset (aka read2me colors) */
.read2me-widget-player.preset-green,
.read2me-widget-player.preset-green .read2me-dropdown {
    background-color: rgb(255, 255, 255);
    color: #3A3C3C;
}

.read2me-widget-player.preset-green svg.read2me-widget-rewind,
.read2me-widget-player.preset-green svg.read2me-widget-forward,
.read2me-widget-player.preset-green svg.read2me-widget-speaking-rate {
    fill: #3A3C3C;
}

.read2me-widget-player.preset-green svg.read2me-widget-rewind:hover,
.read2me-widget-player.preset-green svg.read2me-widget-forward:hover {
    fill: #8FE3F7;
}

.read2me-widget-player.preset-green .slider-track {
    background: transparent !important;
}
.read2me-widget-player.preset-green .slider-selection {
    background: #5EEAD6 !important;
}
.read2me-widget-player.preset-green .slider-track-high {
    background: #DADBDB !important;
}
.read2me-widget-player.preset-green .slider-handle {
    background: #5EEAD6 !important;
}

.read2me-widget-player.preset-green .read2me-widget-player-playback {
    background-color: #5EEAD6;
}
.read2me-widget-player.preset-green .read2me-widget-player-playback svg {
    fill: white;
}
.read2me-widget-player.preset-green .read2me-widget-player-playback:hover {
    background-color: white;
}
.read2me-widget-player.preset-green .read2me-widget-player-playback:hover svg {
    fill: #5EEAD6;
}
.read2me-widget-player.preset-green .read2me-menu > svg {
    color: #5EEAD6;
}
.read2me-widget-player.preset-green .read2me-dropdown a {
    color: #3A3C3C;
}
.read2me-widget-player.preset-green .read2me-dropdown a:hover {
    background-color: #5EEAD6;
    color: #fff;
}
.read2me-widget-player.preset-green .read2me-dropdown svg {
    fill: #3A3C3C;
}
.read2me-widget-player.preset-green .read2me-dropdown li:hover svg {
     fill: #fff;
}


/**
 A great loader from https://codepen.io/brunjo/pen/XJmbNz
 */
.read2me-widget-loader {
    position: absolute;
    bottom: 0;
    height: 4px;
    width: 100%;
    overflow: hidden;
    background-color: transparent;
}
.read2me-widget-loader:before{
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    height: 4px;
    animation: read2me-widget-loading 2s linear infinite;
    background-color: #3A3C3B;
}

@keyframes read2me-widget-loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}

.read2me-menu {
    display: none;
    position: absolute;
    bottom: -5px;
    right: 21px;
    cursor: pointer;
}
.read2me-menu > svg {
    opacity: 0.25;
}
.read2me-menu > svg:hover {
    opacity: 0.75;
}
.read2me-widget-player:hover .read2me-menu {
    display: inline-block;
}
.read2me-widget-player .read2me-widget-player-speaking-rate-container:hover ~ .read2me-menu {
    display: none;
}
.read2me-dropdown {
    /*
        link colors are the same as widget text color
        background color is the same as widget background color
    */
    display: none;
    position: absolute;
    top: 26px;
    right: -20px;
    min-width: 170px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2), 0 3px 10px 0 rgba(0, 0, 0, .19);
    z-index: 999;
}
.read2me-dropdown ul {
    padding: 0;
    margin: 0;
}
.read2me-dropdown li {
    margin: 0;
    padding: 0;
    display: block;
    text-align: right;
}
.read2me-dropdown li a {
    display: block;
    padding: 6px;
    font-size: 9px;
    text-decoration: none;
}
.read2me-menu:hover .read2me-dropdown {
    display: block;
}
.read2me-dropdown a svg {
    position: relative;
    margin-left: 5px;
}
.read2me-dropdown svg {
    position: relative;
    top: 2.5px;
}

/** scale the player down for phone */
@media (max-width: 768px) {
    .read2me-widget-wrapper {
        overflow: hidden;
    }
    .read2me-widget-player {
        transform-origin: top left;
        margin-left: 0;
        margin-right: 0;
    }
    .read2me-menu {
        display: none !important;
    }
}